<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../../partials/generic_header.ejs %>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
     <div class="container">
       <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="/home">Antoine</a>
       </div>
       <div id="navbar" class="collapse navbar-collapse">
         <ul class="nav navbar-nav">
           <li><a href="/">Home</a></li>
           <li class="active"><a href="/labs">Labs</a></li>
           <li><a href="/contact">My details</a></li>
         </ul>
       </div><!--/.nav-collapse -->
     </div>
   </nav>
  <div class="container">
    <div>
      <h1>Lab5</h1>
        <p class="lead">All the work is available <a href="https://github.com/abellec/Interactive-mobile-programming/tree/master/TP5">here</a>.</p>
      <h2>1. Getting familiar with jQuery</h2>
        <ul>
          <li><p><strong>1. What you can do with jQuerry ? </strong>jQuery can easily modify a HTML page dynamically (it´s a JavaScript library).</p></li>
          <li><p><strong>2. How it can help you as web developper ? </strong>It´s easiest way to programming in JavaScript, and allow the creation of powerful dynamic web pages, Web applications and plug-ins.</p></li>
          <li><p><strong>3. If you think our earlier participant list app, in what kind of issues you could use jQuery ? </strong>We can use jQuery to get the name of the person and print it in one line.</p></li>
          <li><p><strong>4. What are CDNs ? What kind of benefits you get if you use them ? </strong>Content delivery network. The goal is to serve content to end-users with high availability and high performance. If we use them, we get a faster and more powerful website. </p></li>
        </ul>
      <h2>2. More jQuery</h2>
        <p>It was not too difficult, the assignment is test.html.</p>
      <h2>3. Ajax</h2>
        <p>I have met some problems with the use of ajax, but Theo and Luc helped me to understand what it was didn't works. The assigment is test5.html.</p>
    </div>
  </div>
  <% include ../../partials/generic_body_end.ejs %>
</body>
</html>
