<!Doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Demo</title>
    <script src="jquery.js"></script>
</head>
<body>

    <script>
      function addPerson(nameOfThePerson)
      {
        $("#personList").append("<p>" + nameOfThePerson + "</p>");
      }
    </script>

    <h1>Greetings</h1>
    <p>Hello class, it´s so wonderful to be here on Tue morning at 8.</p>
    <form action="#">
        <p>Add a person</p>
        <div id="personList"><p><strong>Persons:</strong></p>
        <input type="text" id=name>
        <input type="submit" value="Add" onclick="addPerson(document.getElementById('name').value)"/>

  </body>
</html>
