<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css" />
    <script src="script.js"></script>
    <title>Simple HTML document</title>
  </head>
  <body>
    <h1>Responsive website</h1>
      <input id="inputText" type = "text"></input>
      <button onClick = "save()">Save</button>
      <button onClick = "load()">Load</button>
      <button onClick = "drawSomething()">Draw</button>
      <button onClick = "startTheShow()">STS</button>
      <canvas id="drawCanvas" width="400" height="500">
  </body>

</html>
 -->
 <!DOCTYPE html>
 <html lang="en">
   <head>
     <meta charset="utf-8">
     <link rel="stylesheet" href="style.css" />
     <script src="script.js"></script>
     <title>DRAW!</title>
   </head>
   <body onload="init()">
     <h1>Draw lines to draw area</h1>
       <canvas id="can" width="500" height="500" style="background-color:grey">
   </body>

 </html>
